.grid_12
  %ul.menu
    %li
      %a{:href=>"/#{@controller}.json"} JSON
    %li
      %a{:href=>"/#{@controller}/create?name="} New
.clear
.grid_8
  -unless @data.nil?
    - if (@object_type == 'company')
      %ul
      - @data.each do |record|
        %li
          = "#{record.id}, #{record.name}, <a href='/#{@object_type}/#{record.id}'>Show</a></li>"
    - else
      = @data
  -else
    %p No records.
