.grid_12
  .white
    -unless @data.nil?
      %h3=@record_title
      - if (@object_type == 'company')
        %p Drill into each record to see if you want to add it to cart.
        %ul
          - @data.each do |record|
            %li
              %a{:href => "/#{@object_type}/#{record.id}"}
                = "#{record.name}"
      - else
        %form.center{:action => "/#{@controller}/delete", :method => 'post'}
          %a.button{:href=>"/#{@controller}.json"} JSON
          %input.button.red{:type=>'submit', :value=> 'Delete All'}
          -if @cart.count > 0
            %a.button{:href=>"/#{@controller}/create"} Generate from cart
        .clear
        %ul
          - @data.each do |record|
            %li
              %a{:href=>"/#{@object_type}/#{record['Id']}"}
                = record['Name']
    -else
      %form.center{:action => "/#{@controller}/delete", :method => 'post'}
        %a.button{:href=>"/#{@controller}.json"} JSON
        %input.button.red{:type=>'submit', :value=> 'Delete All'}
        -if @cart.count > 0
          %a.button{:href=>"/#{@controller}/create"} Generate from cart
      .clear
      %p No records.
