.grid_8.prefix_2
  .white.data
    -unless @data.nil?
      %h3 Results
      - if (@object_type == 'company')
        %p Drill into each record to see if you want to add it to cart.
        %ul
        - @data.each do |record|
          %li
            %a{:href => "/#{@object_type}/#{record.id}"}
              = "#{record.name}"
      - else
        .grid_2
          %a.button{:href=>"/#{@controller}.json"} JSON
        -if @cart.count > 0
          .grid_2
            %a.button{:href=>"/#{@controller}/create"} Generate
        .clear
        %ul
          - @data.each do |record|
            %li
              %span
                = record['Name']
              %a{:href=>"/#{@object_type}/#{record['Id']}"} Show
              %a{:href=>"/#{@object_type}/edit/#{record['Id']}"} Edit
              %a{:href=>"/#{@object_type}/delete/#{record['Id']}"} Delete
    -else
      .grid_2
        %a.button{:href=>"/#{@controller}.json"} JSON
        -if @cart.count > 0
          .grid_2
            %a.button{:href=>"/#{@controller}/create"} Generate
      .clear
      %p No records.
