.grid_12.white.data
  %h3
    =@record_title
  %p
    %a.button{:href=>"/#{@object_type}/delete/#{@item_id}"} Delete
    %a.button{:href=> "/#{@object_type}/raw/#{@item_id}.json"} JSON
  = hashie_to_grid @item_data
  .clear
  %p &nbsp;
