.grid_8.prefix_2
  .white.data
    -unless @data.nil?
      - if (@object_type == 'company')
        %ul
        - @data.each do |record|
          %li
            %a{:href => "/#{@object_type}/#{record.id}"}
              = "#{record.name}"
      - else
        %a.grid_4{:href=>"/#{@controller}.json"} JSON
        %a.grid_4{:href=>"/#{@controller}/create?name="} New
        .clear
        = @data
    -else
      %p No records.
